.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: #bdbdbd
}

div.DraftEditor-root {
  margin: 2.5%;
  background-color: white;
  width: 95%;
  height: 95%;
  overflow-y: auto;
  font-size: 24px;
  color: black;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  font-size: 24;
}

.bodyEditor {
  height: 350px;
}

.titleEditor {
  height: 100px;
}

.MuiTouchRipple-rippleVisible {
  color: white;
}
