.public-DraftEditorPlaceholder-root {
  position: absolute;
  color: #bdbdbd;
  font-family: 'Roboto'
}

div.DraftEditor-root {
  margin: 2.5%;
  background-color: white;
  width: 95%;
  height: 95%;
  overflow-y: auto;
  font-size: 24px;
  color: black;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  font-size: 24;
  font-family: 'Roboto'
}

.bodyEditor {
  height: 350px;
}

.titleEditor {
  height: 100px;
}

.MuiTouchRipple-rippleVisible {
  color: white;
}

/* hiding scrollbar */
::-webkit-scrollbar {
  display: none;
} 

/* i dont think these actually do anything :( */
a.user_link:visited, a.user_link:link, a.user_link {
  text-decoration: none;
  color: #757575;
}

a.user_link:hover, a.user_link:active {
  text-decoration: underline;
  color: #757575;
}